{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'HUB/styles.css' %}">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
    />

    <script src="home.js"></script>
  </head>
  <body>
    <div class="header">
      <div class="header1">
        <button class="button-parent">
          <div class="button1">
            <b class="sign-up2">Sign In</b>
          </div>
          <div class="button2">
            <b class="sign-up3">Sign Up</b>
          </div>
        </button>
      </div>
      <div class="frame-parent">
        <div class="monitor-balance-control-smart-wrapper">
          <h1 class="monitor-balance-control">
            Blockchain Learning Hub
          </h1>
        </div>
        <div class="when-the-life-too-much-things-wrapper">
          <div class="when-the-life">
            Simplify Your Learning Journey with Blockchain. Explore resources, test your knowledge, and engage with experts.
          </div>
        </div>
        <div class="header-sectionbuttonplay-but-parent">
          

          <button class="header-sectionbuttonlarge-bu1">
            <b class="get-started1">Start Learning</b>
            
          </button>
        </div>
      </div>
      <img class="banner-icon" alt="" src="https://www.nicepng.com/png/full/67-670388_the-blockchain-is-a-decentralized-technology-that-it.png" />

      <main class="pattern">
        
      </main>
      

      
    </div>
  </body>
</html>
